h1           { font-family: arial; font-size: x-large;}
h2           { font-family: Tahoma; font-size: large;}
pre          { font-family: georgia; font-size: 12pt}
A:link       { color:"#003399"; text-decoration:none;}
A:visited    { color:"#003399"; text-decoration:none}
.headLeft    { font-family: Tahoma; font-size: large}
.headRight   { font-family: arial; font-size: large}
.indexAuthor { font-family: helvetica; font-size: large;}
.indexTitle  { font-family: arial; font-size: medium}

.div-with-bg
{
    background: color url('http://johnjmurray.github.io/images/cover.jpg');
}

.img {
    vertical-align: middle;
}


.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
